
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='AboutUs.css') }}" />
  </head>
    <body>
      <img class="background-pic" src="{{ url_for('static', filename='aboutusBackground.jpg') }}"></img>
  <section class="team-section">
    <header class="team-header">
      <div class="header-content">
        <div class="header-text">
          <h2 class="team-title">Meet our team members</h2>
          <p class="team-description">
            "More Than Technology, More Than Innovation
            <br />
            We Are the Architects of a Fire-Resilient Future."
          </p>
        </div>
      </div>
    </header>
    <div class="team-grid">
      <div class="team-member">
        <div class="member-card">
          <div class="member-image-wrapper">
            <img
              loading="lazy"
              src="{{ url_for('static', filename='Par.jpeg') }}"
              class="member-image"
              alt="Parmoun Khalkhali Sharifi"
            />
          </div>
          <div class="member-content">
            <div class="member-info">
              <h3 class="member-name">Parmoun Khalkhali Sharifi</h3>
              <p class="member-title">Web developer, Team lead</p>
            </div>
            <p class="member-education">Software Engineering (BEng)</p>
            <div class="social-links">
              <a href="https://www.linkedin.com/in/parmoun/" target="_blank" rel="noopener noreferrer">
                <img
                  loading="lazy"
                  src="https://cdn.builder.io/api/v1/image/assets/TEMP/c0698e6ef8fbc54a01ba4ed0c9da093d12a2641b?placeholderIfAbsent=true&apiKey=cc895253afec42eb8703085b19d12558"
                  class="social-icon"
                  alt="Social media icon"
                />
              </a>
                
              <a href="https://github.com/parmounks" target="_blank" rel="noopener noreferrer">
                <img
                  loading="lazy"
                  src="https://cdn.builder.io/api/v1/image/assets/TEMP/73559b8ae731dacb890ab236c331ccf4c8e0c139?placeholderIfAbsent=true&apiKey=cc895253afec42eb8703085b19d12558"
                  class="social-icon"
                  alt="Social media icon"
                />
              </a>
              <div class="social-icon-placeholder"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="team-member">
        <div class="member-card">
          <img
            loading="lazy"
            src= "{{ url_for('static', filename='Angie.jpg') }}"
            class="member-image2"
            alt="Angelique Izere"
          />
          <div class="member-content">
            <div class="member-info">
              <h3 class="member-name">Angelique Izere</h3>
              <p class="member-title">Back-end Developer</p>
            </div>
            <p class="member-education">Computer Engineering (BEng)</p>
            <div class="social-links">
              <a href="https://www.linkedin.com/in/angie-izere-325700109?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BFloslGWTT164nfnH%2BqHO3A%3D%3D" target="_blank" rel="noopener noreferrer">
                <img
                  loading="lazy"
                  src="https://cdn.builder.io/api/v1/image/assets/TEMP/c0698e6ef8fbc54a01ba4ed0c9da093d12a2641b?placeholderIfAbsent=true&apiKey=cc895253afec42eb8703085b19d12558"
                  class="social-icon"
                  alt="Social media icon"
                />
              </a>
                
              <a href="https://github.com/inangie" target="_blank" rel="noopener noreferrer">
                <img
                  loading="lazy"
                  src="https://cdn.builder.io/api/v1/image/assets/TEMP/73559b8ae731dacb890ab236c331ccf4c8e0c139?placeholderIfAbsent=true&apiKey=cc895253afec42eb8703085b19d12558"
                  class="social-icon"
                  alt="Social media icon"
                />
              </a>
              <div class="social-icon-placeholder"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="team-member">
        <div class="member-card">
          <div class="member-image-wrapper">
            <img
            loading="lazy"
            src= "{{ url_for('static', filename='nono.png') }}"
            class="member-image"
            alt="Angelique Izere"
          />
          </div>
          <div class="member-content">
            <div class="member-info">
              <h3 class="member-name">Noran Kerret</h3>
              <p class="member-title">AI developer</p>
            </div>
            <p class="member-education">Computer Engineering (BEng)</p>
            <div class="social-links">
             
              <a href="https://www.linkedin.com/in/noran-kerret-b7a097279?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BTcRg3TO%2FT7W7XXdypMQIrA%3D%3D" target="_blank" rel="noopener noreferrer">
                <img
                  loading="lazy"
                  src="https://cdn.builder.io/api/v1/image/assets/TEMP/c0698e6ef8fbc54a01ba4ed0c9da093d12a2641b?placeholderIfAbsent=true&apiKey=cc895253afec42eb8703085b19d12558"
                  class="social-icon"
                  alt="Social media icon"
                />
              </a>
                
              <a href="https://github.com/norankerret" target="_blank" rel="noopener noreferrer">
                <img
                  loading="lazy"
                  src="https://cdn.builder.io/api/v1/image/assets/TEMP/73559b8ae731dacb890ab236c331ccf4c8e0c139?placeholderIfAbsent=true&apiKey=cc895253afec42eb8703085b19d12558"
                  class="social-icon"
                  alt="Social media icon"
                />
              </a>
              <div class="social-icon-placeholder"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="team-member">
        <div class="member-card">
          <div class="member-image-wrapper">
            <img
              loading="lazy"
              src= "{{ url_for('static', filename='Photo_Juju.png') }}"
              class="member-image-j"
              alt="Eyinojuoluwa Akin-salami"
            />        
          </div>
          <div class="member-content">
            <div class="member-info">
              <h3 class="member-name">Eyinojuoluwa Akin-salami</h3>
              <p class="member-title">AI developer</p>
            </div>
            <p class="member-education">Electrical Engineering (BEng)</p>
            <div class="social-links">
             
              <a href="https://www.linkedin.com/in/eyinojuoluwa-akin-salami-2022ab227/" target="_blank" rel="noopener noreferrer">
                <img
                  loading="lazy"
                  src="https://cdn.builder.io/api/v1/image/assets/TEMP/c0698e6ef8fbc54a01ba4ed0c9da093d12a2641b?placeholderIfAbsent=true&apiKey=cc895253afec42eb8703085b19d12558"
                  class="social-icon"
                  alt="Social media icon"
                />
              </a>
                
              <a href="https://github.com/Jujuakin" target="_blank" rel="noopener noreferrer">
                <img
                  loading="lazy"
                  src="https://cdn.builder.io/api/v1/image/assets/TEMP/73559b8ae731dacb890ab236c331ccf4c8e0c139?placeholderIfAbsent=true&apiKey=cc895253afec42eb8703085b19d12558"
                  class="social-icon"
                  alt="Social media icon"
                />
              </a>
              <div class="social-icon-placeholder"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="team-member">
        <div class="member-card">
          <div class="member-image-wrapper">
            <img
              loading="lazy"
              src= "{{ url_for('static', filename='sara.png') }}"
              class="member-image"
              alt="Sara Riazi"
            />
          </div>
          <div class="member-content">
            <div class="member-info">
              <h3 class="member-name">Sara Riazi</h3>
              <p class="member-title">AI developer</p>
            </div>
            <p class="member-education">Computer Engineering (BEng)</p>
            <div class="social-links">
              <a href="https://www.linkedin.com/in/sara-r-53380025b?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3Bk%2Frw%2FWE8TbiN9nMITHJLXA%3D%3D" target="_blank" rel="noopener noreferrer">
                <img
                  loading="lazy"
                  src="https://cdn.builder.io/api/v1/image/assets/TEMP/c0698e6ef8fbc54a01ba4ed0c9da093d12a2641b?placeholderIfAbsent=true&apiKey=cc895253afec42eb8703085b19d12558"
                  class="social-icon"
                  alt="Social media icon"
                />
              </a>
                
              <a href="https://github.com/sarariaha" target="_blank" rel="noopener noreferrer">
                <img
                  loading="lazy"
                  src="https://cdn.builder.io/api/v1/image/assets/TEMP/73559b8ae731dacb890ab236c331ccf4c8e0c139?placeholderIfAbsent=true&apiKey=cc895253afec42eb8703085b19d12558"
                  class="social-icon"
                  alt="Social media icon"
                />
              </a>
              <div class="social-icon-placeholder"></div>
            </div>
          </div>
        </div>
      </div>
  
      <div class="team-member">
        <div class="member-card">
          <div class="member-image-wrapper">
            <img
              loading="lazy"
              src="https://cdn.builder.io/api/v1/image/assets/TEMP/3d4c5193763571c80390bfd8cdff31106a9d217e?placeholderIfAbsent=true&apiKey=cc895253afec42eb8703085b19d12558"
              class="member-image"
              alt="Kellan Ho"
            />
          </div>
          <div class="member-content">
            <div class="member-info">
              <h3 class="member-name">Kellan Ho</h3>
              <p class="member-title">AI developer</p>
            </div>
            <p class="member-education">Electrical Engineering (BEng)</p>
            <div class="social-links">
              <a href="https://www.linkedin.com/in/kellan-ho-00b431237?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BQ40Nh2qCTF6wSU3iggqw3A%3D%3D" target="_blank" rel="noopener noreferrer">
                <img
                  loading="lazy"
                  src="https://cdn.builder.io/api/v1/image/assets/TEMP/c0698e6ef8fbc54a01ba4ed0c9da093d12a2641b?placeholderIfAbsent=true&apiKey=cc895253afec42eb8703085b19d12558"
                  class="social-icon"
                  alt="Social media icon"
                />
              </a>
                
              <a href="https://github.com/kellanho2" target="_blank" rel="noopener noreferrer">
                <img
                  loading="lazy"
                  src="https://cdn.builder.io/api/v1/image/assets/TEMP/73559b8ae731dacb890ab236c331ccf4c8e0c139?placeholderIfAbsent=true&apiKey=cc895253afec42eb8703085b19d12558"
                  class="social-icon"
                  alt="Social media icon"
                />
              </a>
              <div class="social-icon-placeholder"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="back-button-container">
    <a href="/" class="back-button">← Back to Main Page</a>
  </div>
  