@font-face {
  font-display: swap;
  font-style: normal;
  src: url("../public/fonts/OutfitRegular.ttf");
  font-family: "Outfit";
  font-weight: 400;
}
@font-face {
  font-display: swap;
  font-style: normal;
  src: url("../public/fonts/OutfitBold.ttf");
  font-family: "Outfit";
  font-weight: 700;
}
@font-face {
  font-display: swap;
  font-style: normal;
  src: url("../public/fonts/RobotoRomanRegular.ttf");
  font-family: "Roboto";
  font-weight: 400;
}
@font-face {
  font-display: swap;
  font-style: normal;
  src: url("../public/fonts/OutfitSemiBold.ttf");
  font-family: "Outfit";
  font-weight: 600;
}
@font-face {
  font-display: swap;
  font-style: normal;
  src: url("../public/fonts/OutfitMedium.ttf");
  font-family: "Outfit";
  font-weight: 500;
}
