
:root {
  /*------Color vars------*/
  --black_900: #000000;
  --black_900_3f: #0000003f;
  --gray_400: #d9cab3;
  --gray_900: #191818;
  --white_a700: #ffffff;
  --red_hov:red;

  /*------Shadow vars------*/
  --shadow-xs: 0 4px 4px 0 #0000003f;

  /*------Border radius variables------*/
  --radius-xs: 20px;
  --radius-sm: 30px;
  --radius-md: 36px;
  --radius-lg: 120px;
}

/*------ Utility CSS--------------------------*/
.flex-col-center-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex-row-center-center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

